In [2]:
import pandas as pd

# Load claims data from CSV file
claims_data = pd.read_csv('data/Test_Claims_Data.csv')

# Load revenue data from CSV file
revenue_data = pd.read_csv('data/Test_Revenue_Data.csv')

# Convert 'Service_Date' column in claims_data to datetime format and reformat it to 'dd-mm-yyyy'
claims_data['Service_Date'] = pd.to_datetime(claims_data['Service_Date'].astype(str), format='%Y%m%d').dt.strftime('%d-%m-%Y')

# Print the data types of the 'Service_Date' column for both datasets
print(claims_data.Service_Date.dtype, revenue_data.Service_Date.dtype)

/tmp/ipykernel_9701/449568108.py:4: DtypeWarning: Columns (2,113,114,228) have mixed types. Specify dtype option on import or set low_memory=False.
  claims_data = pd.read_csv('data/Test_Claims_Data.csv')
/tmp/ipykernel_9701/449568108.py:7: DtypeWarning: Columns (7,14) have mixed types. Specify dtype option on import or set low_memory=False.
  revenue_data = pd.read_csv('data/Test_Revenue_Data.csv')

object object

In [218]:
profile.to_notebook_iframe()

Summarize dataset: 100%|██████████| 4335/4335 [16:37<00:00,  4.34it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [03:20<00:00, 200.46s/it]
Render HTML: 100%|██████████| 1/1 [03:04<00:00, 184.79s/it]

In [43]:
merged_df = claims_data.merge(revenue_data, on=['Billed_Subscriber_ID', 'Patient_Account_Number', 'Service_Date'], how='left')

In [45]:
len(merged_df), len(claims_data), len(revenue_data)

(313698, 20399, 313698)

In [172]:
claims_data[(claims_data.Billed_Subscriber_ID==100023222)]

,Billed_Subscriber_ID,Patient_Account_Number,PROVIDER,Service_Date,Claim_Filing_Indicator_Code,Facility_Type_Code,QUERY_CD,Facility_Code,TYPESRVC,Frequency_Code,...,CLM_SITE_NTRL_PYMT_CST_AMT,CLM_SITE_NTRL_PYMT_IPPS_AMT,CLM_FULL_STD_PYMT_AMT,CLM_SS_OUTLIER_STD_PYMT_AMT,CLM_NEXT_GNRTN_ACO_IND_CD1,CLM_NEXT_GNRTN_ACO_IND_CD2,CLM_NEXT_GNRTN_ACO_IND_CD3,CLM_NEXT_GNRTN_ACO_IND_CD4,CLM_NEXT_GNRTN_ACO_IND_CD5,ACO_ID_NUM
0,100023222,273,50126,12-01-2019,V,60,5,1,1,I,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
794,100023222,3671748,50126,22-05-2019,V,60,3,1,1,1,...,0,0,0,0,5.0,NaN,NaN,NaN,NaN,V239

In [62]:
revenue_data[(revenue_data.Billed_Subscriber_ID==100023222) & (revenue_data.Patient_Account_Number==273) & (revenue_data.Service_Date == "12-01-2019") & (revenue_data.Line_Revenue_Code==1)]['Line_Amount_Total']

39    39385.19141
Name: Line_Amount_Total, dtype: float64

In [208]:
sub = 493385099
pan = 10584210   
dt = '17-12-2019'

# 493385099	10584210	1	17-12-2019	
# sub = 100023222
# pan = 273
# dt = '12-01-2019'
claims_data[(claims_data.Billed_Subscriber_ID==sub) & (claims_data.Patient_Account_Number==pan) & (claims_data.Service_Date == dt)]

,Billed_Subscriber_ID,Patient_Account_Number,PROVIDER,Service_Date,Claim_Filing_Indicator_Code,Facility_Type_Code,QUERY_CD,Facility_Code,TYPESRVC,Frequency_Code,...,CLM_SITE_NTRL_PYMT_CST_AMT,CLM_SITE_NTRL_PYMT_IPPS_AMT,CLM_FULL_STD_PYMT_AMT,CLM_SS_OUTLIER_STD_PYMT_AMT,CLM_NEXT_GNRTN_ACO_IND_CD1,CLM_NEXT_GNRTN_ACO_IND_CD2,CLM_NEXT_GNRTN_ACO_IND_CD3,CLM_NEXT_GNRTN_ACO_IND_CD4,CLM_NEXT_GNRTN_ACO_IND_CD5,ACO_ID_NUM
20270,493385099,10584210,70022,17-12-2019,V,60,3,1,1,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
merged_df[(merged_df.Billed_Subscriber_ID==sub) & (merged_df.Patient_Account_Number==pan) & (merged_df.Service_Date == dt)][[
    'Charge_Amount','Line_Amount_Total','REV_NCVR', 'Line_Procedure_Code','ICD_DGNS_CD2','ICD_PRCDR_CD1',
    'Other_Diagnosis','CLM_POA_IND_SW2','Line_Revenue_Code','Attending_Phys._ID']]

,Charge_Amount,Line_Amount_Total,REV_NCVR,Line_Procedure_Code,ICD_DGNS_CD2,ICD_PRCDR_CD1,Other_Diagnosis,CLM_POA_IND_SW2,Line_Revenue_Code,Attending_Phys._ID
311830,575239.94,383699.468800,336275.94,NaN,G936,XW03372,C7931,Y,121,1750657458
311831,575239.94,10126.009770,0.00,NaN,G936,XW03372,C7931,Y,201,1750657458
311832,575239.94,118959.132800,71.93,NaN,G936,XW03372,C7931,Y,250,1750657458
311833,575239.94,1837.209961,748.82,NaN,G936,XW03372,C7931,Y,270,1750657458
311834,575239.94,241.360001,0.00,NaN,G936,XW03372,C7931,Y,272,1750657458
311835,575239.94,2700.000000,0.00,NaN,G936,XW03372,C7931,Y,278,1750657458
311836,575239.94,5447.000000,3452.00,NaN,G936,XW03372,C7931,Y,300,1750657458
311837,575239.94,1368.000000,799.00,NaN,G936,XW03372,C7931,Y,301,1750657458
311838,575239.94,10779.330080,219.82,NaN,G936,XW03372,C7931,Y,320,1750657458
311839,575239.94,2376.510010,0.00,NaN,G936,XW03372,C7931,Y,351,1750657458
311840,575239.94,214.759995,0.00,NaN,G936,XW03372,C7931,Y,402,1750657458
311841,575239.94,11179.500000,9870.70,NaN,G936,XW03372,C7931,Y,420,1750657458
311842,575239.94,712.140015,0.00,NaN,G936,XW03372,C7931,Y,424,1750657458
311843,575239.94,992.739990,0.00,NaN,G936,XW03372,C7931,Y,444,1750657458
311844,575239.94,3804.830078,0.00,NaN,G936,XW03372,C7931,Y,450,1750657458
311845,575239.94,1653.219971,0.00,NaN,G936,XW03372,C7931,Y,480,1750657458
311846,575239.94,3326.689941,0.00,NaN,G936,XW03372,C7931,Y,481,1750657458
311847,575239.94,2506.159912,0.00,NaN,G936,XW03372,C7931,Y,611,1750657458
311848,575239.94,200.570007,0.00,NaN,G936,XW03372,C7931,Y,730,1750657458
311849,575239.94,12234.000000,0.00,NaN,G936,XW03372,C7931,Y,761,1750657458
311850,575239.94,881.309998,0.00,NaN,G936,XW03372,C7931,Y,921,1750657458
311851,575239.94,575239.937500,351438.21,NaN,G936,XW03372,C7931,Y,1,1750657458

In [168]:
revenue_data[~revenue_data['Line_Procedure_Code'].isna()]

,Billed_Subscriber_ID,Patient_Account_Number,Line_Serial,Service_Date,Facility_Type_Code,Line_Revenue_Code,Line_Procedure_Code,Line_Procedure_Modifier_1,Line_Procedure_Modifier_2,Line_Procedure_Modifier_3,...,REV_NCVR,REVDEDCD,APCHIPPS,REV_CNTR_RNDRNG_PHYSN_UPIN,Rendering_Provider_ID,REV_CNTR_RNDRNG_PHYSN_SPCLTY_CD,NDC_NumberInvestigational_Device_Exemption_ID,REV_CNTR_PRCNG_IND_CD,THRPY_CAP_IND_CD1,THRPY_CAP_IND_CD2
2495,109612754,76051,1,04-01-2019,60,24,A0105,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
13799,455560801,459057,1,24-01-2019,60,24,A0110,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
15617,462021909,521968,1,29-01-2019,60,24,D2004,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
17617,467782571,580138,1,24-01-2019,60,24,C0704,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
17914,468987786,591954,1,05-01-2019,60,24,A0602,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310971,492113268,10569597,1,23-12-2019,60,24,C0303,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
312709,496921606,10623946,1,18-12-2019,60,24,C0304,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
313217,498560406,10642624,1,24-12-2019,60,24,A0103,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
313657,499973125,10658356,1,20-12-2019,60,24,D0703,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN
313671,499973125,10658357,1,30-12-2019,60,24,D0703,NaN,NaN,NaN,...,0.0,NaN,0,NaN,NaN,NaN,NaN,A,NaN,NaN

In [69]:
revenue_data[(revenue_data.Billed_Subscriber_ID==sub) & (revenue_data.Patient_Account_Number==pan) & (revenue_data.Service_Date == dt) & (revenue_data.Line_Revenue_Code==1)]['Line_Amount_Total']

313584    108622.8984
Name: Line_Amount_Total, dtype: float64

In [73]:
rev_1_data = revenue_data[revenue_data.Line_Revenue_Code==1]
len(rev_1_data), len(claims_data)

(20399, 20399)

In [75]:
merged_rev_1_df = claims_data.merge(rev_1_data, on=['Billed_Subscriber_ID', 'Patient_Account_Number', 'Service_Date'], how='left')
len(merged_rev_1_df)

20399

In [79]:
merged_rev_1_df['diff']=merged_rev_1_df['Charge_Amount'] - merged_rev_1_df['Line_Amount_Total']

In [83]:
min(merged_rev_1_df['diff']), max(merged_rev_1_df['diff'])

(-0.10999999986961484, 0.060000000055879354)

In [122]:
claims_data.columns()

AttributeError: 'DataFrame' object has no attribute 'Attending_Phys'

In [155]:
claims_data[['Other_Diagnosis','ICD_DGNS_CD2','CLM_POA_IND_SW2','ICD_DGNS_CD3','CLM_POA_IND_SW3','ICD_DGNS_CD4', 'ICD_DGNS_CD15']]

,Other_Diagnosis,ICD_DGNS_CD2,CLM_POA_IND_SW2,ICD_DGNS_CD3,CLM_POA_IND_SW3,ICD_DGNS_CD4,ICD_DGNS_CD15
0,A4102,N390,Y,G9340,Y,R0902,NaN
1,A419,J690,Y,R532,Y,E440,E8809
2,I9589,E43,Y,G92,Y,Z681,Z7902
3,A419,J189,Y,J9601,Y,I5033,K219
4,A419,E43,Y,R532,Y,J690,N200
...,...,...,...,...,...,...,...
20394,S066X9A,N179,N,E7800,Y,I10,F17200
20395,E11610,I82502,Y,E1122,Y,N189,G8929
20396,S065X9A,I421,Y,I472,N,N390,I081
20397,A419,N186,Y,R6521,N,R571,R188
20398,I130,I5023,Y,N179,Y,I739,Z8673

In [148]:
claims_data.ICD_DGNS_CD2.value_counts()

ICD_DGNS_CD2
N186       1053
N179        746
J9601       614
E43         609
I5033       554
           ...
Z7902         1
S32401A       1
C661          1
K7689         1
Z1619         1
Name: count, Length: 1960, dtype: int64

In [177]:
valc1 = []
for c in claims_data.columns:
    if len(claims_data[c].value_counts().values)>2:
        valc1.append(c)
valc1

['Billed_Subscriber_ID',
 'Patient_Account_Number',
 'PROVIDER',
 'Service_Date',
 'QUERY_CD',
 'Frequency_Code',
 'NOPAY_CD',
 'Paid_Amount',
 'PRPAYAMT',
 'PRPAY_CD',
 'ACTIONCD',
 'Attending_Phys._ID',
 'Operating_Phys._ID',
 'Other_Operating_Phys._ID',
 'Patient_Status_Code',
 'Charge_Amount',
 'Admission_Date',
 'Admission_Type_Code',
 'Admission_Source_Code',
 'PTNTSTUS',
 'PER_DIEM',
 'Line_Adj_Patient',
 'COIN_AMT',
 'NCCHGAMT',
 'MIA_Claim_PPS_Capital_Amount',
 'MIA_PPS_Capital_FSP_DRG_Amount',
 'MIA_Claim_PPS_Capital_Outlier_Amount',
 'MIA_Claim_Disproportionate_Share_Amount',
 'MIA_PPS_Capital_IME_Amount',
 'DRG_Weight',
 'MIA_Covered_Days',
 'CoInsured_Days',
 'LRD_USE',
 'Non-Covered_Days',
 'NCOVFROM',
 'NCOVTHRU',
 'EXHST_DT',
 'Discharge_Hour',
 'DRG_Code',
 'MIA_PPS_Operating_Outlier_Amount',
 'Admitting_Diagnosis',
 'Principal_Diagnosis',
 'Other_Diagnosis',
 'CLM_POA_IND_SW1',
 'ICD_DGNS_CD2',
 'CLM_POA_IND_SW2',
 'ICD_DGNS_CD3',
 'CLM_POA_IND_SW3',
 'ICD_DGNS_CD4',
 'CLM_POA_IND_SW4',
 'ICD_DGNS_CD5',
 'CLM_POA_IND_SW5',
 'ICD_DGNS_CD6',
 'CLM_POA_IND_SW6',
 'ICD_DGNS_CD7',
 'CLM_POA_IND_SW7',
 'ICD_DGNS_CD8',
 'CLM_POA_IND_SW8',
 'ICD_DGNS_CD9',
 'CLM_POA_IND_SW9',
 'ICD_DGNS_CD10',
 'CLM_POA_IND_SW10',
 'ICD_DGNS_CD11',
 'CLM_POA_IND_SW11',
 'ICD_DGNS_CD12',
 'CLM_POA_IND_SW12',
 'ICD_DGNS_CD13',
 'CLM_POA_IND_SW13',
 'ICD_DGNS_CD14',
 'CLM_POA_IND_SW14',
 'ICD_DGNS_CD15',
 'CLM_POA_IND_SW15',
 'ICD_DGNS_CD16',
 'CLM_POA_IND_SW16',
 'ICD_DGNS_CD17',
 'CLM_POA_IND_SW17',
 'ICD_DGNS_CD18',
 'CLM_POA_IND_SW18',
 'ICD_DGNS_CD19',
 'CLM_POA_IND_SW19',
 'ICD_DGNS_CD20',
 'CLM_POA_IND_SW20',
 'ICD_DGNS_CD21',
 'CLM_POA_IND_SW21',
 'ICD_DGNS_CD22',
 'CLM_POA_IND_SW22',
 'ICD_DGNS_CD23',
 'CLM_POA_IND_SW23',
 'ICD_DGNS_CD24',
 'CLM_POA_IND_SW24',
 'ICD_DGNS_CD25',
 'CLM_POA_IND_SW25',
 'FST_DGNS_E_CD',
 'ICD_DGNS_E_CD1',
 'ICD_PRCDR_CD1',
 'PRCDR_DT1',
 'ICD_PRCDR_CD2',
 'PRCDR_DT2',
 'ICD_PRCDR_CD3',
 'PRCDR_DT3',
 'ICD_PRCDR_CD4',
 'PRCDR_DT4',
 'ICD_PRCDR_CD5',
 'PRCDR_DT5',
 'ICD_PRCDR_CD6',
 'PRCDR_DT6',
 'ICD_PRCDR_CD7',
 'PRCDR_DT7',
 'ICD_PRCDR_CD8',
 'PRCDR_DT8',
 'ICD_PRCDR_CD9',
 'PRCDR_DT9',
 'ICD_PRCDR_CD10',
 'PRCDR_DT10',
 'ICD_PRCDR_CD11',
 'PRCDR_DT11',
 'ICD_PRCDR_CD12',
 'PRCDR_DT12',
 'ICD_PRCDR_CD13',
 'PRCDR_DT13',
 'ICD_PRCDR_CD14',
 'PRCDR_DT14',
 'ICD_PRCDR_CD15',
 'PRCDR_DT15',
 'ICD_PRCDR_CD16',
 'PRCDR_DT16',
 'ICD_PRCDR_CD17',
 'PRCDR_DT17',
 'ICD_PRCDR_CD18',
 'PRCDR_DT18',
 'ICD_PRCDR_CD19',
 'PRCDR_DT19',
 'ICD_PRCDR_CD20',
 'PRCDR_DT20',
 'ICD_PRCDR_CD21',
 'PRCDR_DT21',
 'ICD_PRCDR_CD22',
 'PRCDR_DT22',
 'ICD_PRCDR_CD23',
 'PRCDR_DT23',
 'ICD_PRCDR_CD24',
 'PRCDR_DT24',
 'ICD_PRCDR_CD25',
 'PRCDR_DT25',
 'Subscriber_DOB',
 'RACE_CD',
 'CNTY_CD',
 'Subscriber_State',
 'CWF_BENE_MDCR_STUS_CD',
 'CLM_PRCR_RTRN_CD',
 'CLM_BASE_OPRTG_DRG_AMT',
 'CLM_VBP_ADJSTMT_PCT',
 'CLM_HRR_ADJSTMT_PCT',
 'CLM_UNCOMPD_CARE_PMT_AMT',
 'CLM_VBP_ADJSTMT_PMT_AMT',
 'CLM_HRR_ADJSTMT_PMT_AMT',
 'PPS_STD_VAL_PYMT_AMT',
 'FINL_STD_AMT']

In [178]:
valc1 = []
for c in revenue_data.columns:
    if len(revenue_data[c].value_counts().values)>2:
        valc1.append(c)
valc1

['Billed_Subscriber_ID',
 'Patient_Account_Number',
 'Line_Serial',
 'Service_Date',
 'Line_Revenue_Code',
 'Line_Procedure_Code',
 'Line_Units',
 'REV_RATE',
 'Line_Amount_Total',
 'REV_NCVR',
 'REV_CNTR_PRCNG_IND_CD']

In [206]:
revenue_data.REV_NCVR.value_counts()

REV_NCVR
0.00          300587
4258.00          387
4311.23          340
703.00           254
198.00           205
               ...
336275.94          1
4438948.91         1
1762.62            1
355644.00          1
165965.54          1
Name: count, Length: 5971, dtype: int64

In [207]:
revenue_data[revenue_data.REV_NCVR==336275.94]

,Billed_Subscriber_ID,Patient_Account_Number,Line_Serial,Service_Date,Facility_Type_Code,Line_Revenue_Code,Line_Procedure_Code,Line_Procedure_Modifier_1,Line_Procedure_Modifier_2,Line_Procedure_Modifier_3,...,REV_NCVR,REVDEDCD,APCHIPPS,REV_CNTR_RNDRNG_PHYSN_UPIN,Rendering_Provider_ID,REV_CNTR_RNDRNG_PHYSN_SPCLTY_CD,NDC_NumberInvestigational_Device_Exemption_ID,REV_CNTR_PRCNG_IND_CD,THRPY_CAP_IND_CD1,THRPY_CAP_IND_CD2
311343,493385099,10584210,1,17-12-2019,60,121,NaN,NaN,NaN,NaN,...,336275.94,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
revenue_data[['Facility_Type_Code','Line_Revenue_Code','Line_Procedure_Code']]

        Facility_Type_Code  Line_Revenue_Code Line_Procedure_Code
0                       60                121                 NaN
1                       60                250                 NaN
2                       60                260                 NaN
3                       60                270                 NaN
4                       60                300                 NaN
...                    ...                ...                 ...
313693                  60                410                 NaN
313694                  60                480                 NaN
313695                  60                730                 NaN
313696                  60                921                 NaN
313697                  60                  1                 NaN

[313698 rows x 3 columns]

In [110]:
revenue_data['Line_Amount_Total'].value_counts()

Line_Amount_Total
703.000000      7239
712.140015      6176
2609.000000     4391
2642.919922     3723
198.000000      3662
                ...
358.200012         1
3767.280029        1
33883.761720       1
56.340000          1
51570.218750       1
Name: count, Length: 75228, dtype: int64